.heading2XL {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXL {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLG {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0.1rem 0;
}

.headingMD {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.darkText {
    color: #494949
}

.navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.gifHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.subText {
    font-size: 0.8rem;
    line-height: 1.5;
    margin: -0.5rem, 1rem;
}